<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/Content/materialize.min.css" media="screen,projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/jscolor.js"></script>
    <script src="~/Scripts/nouislider.js"></script>
    <link href="~/Content/nouislider.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/Content/icon.ico" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <title>TreeColor</title>
</head>
<body>
    <div class="wrapper">
        <div class="body">
            <nav class="teal darken-3">
                <a href="#!" class="brand-logo">ThreeColor</a>
            </nav>
            @RenderBody()
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="~/Scripts/materialize.min.js"></script>
        @RenderSection("Scripts", false)
        <footer class="page-footer teal">
            @Html.Action("ForDevelopers", "Home")
        </footer>
    </div>
</body>
</html>
