    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">ThreeColor</h5>
                <p class="grey-text text-lighten-4">Приложение было разработано для оценки скорости зрительно-моторной реакции</p>
                <p class="grey-text text-lighten-4">При поддержке Короткевича В.А.</p>
                <p class="grey-text text-lighten-4">Разработчик Голосова А.Д.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Информация для разработчиков</h5>
                <div class="row">
                    <div class="col l4 s4">Mode</div>
                    <div class="col l6 s6">@ViewBag.Mode</div>
                </div>
                <div class="row">
                    <div class="col l4 s4">ServerName</div>
                    <div class="col l6 s6">@ViewBag.Server</div>
                </div>
                <div class="row">
                    <div class="col l4 s4">ConnectionString</div>
                    <div class="col l6 s6">@ViewBag.Connection.Name</div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 LMB Inc.
            <a class="grey-text text-lighten-4 right" href="/Home">Home</a>
        </div>
    </div>
