@model List<TreeColor.Models.Tests>
@{
    ViewBag.Title = "Home Page";
    ViewBag.TestName = "Example";
}
<div class="row">
    @if (ViewBag.CurrentTest != null)
    {
        <div class="col s3 light-blue">
            @foreach (TreeColor.Models.Points point in ViewBag.CurrentTest.Points)
            {
            <h5 color=@point.color>@point.Symbol</h5>
            }
        </div>
        <div class="col s9 light-green" color ="@ViewBag.CurrentTest.field_color">
        </div>
    } else
    {
        <p>Select the test!</p>
    }
</div>
